[core]
  editor = nvim
  pager = delta
[user]
  email = eugene.kostroma@gmail.com
  name = Yauheni Kastrama
[safe]
  directory = *
[interactive]
  diffFilter = delta --color-only
[delta]
  true-color = always
  line-numbers = true
  navigate = true
  light = false
  file-style = "bold yellow ul"
  file-decoration-style = "none"
  hunk-header-style = "file line-number syntax"
  hunk-header-decoration-style = "blue box"
  minus-style = "syntax auto"
  plus-style = "syntax auto"
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  st = status -sb
[credential "helperselector"]
	selected = manager
[credential]
	helper = store
