[core]
  editor = nvim
  pager = delta
[user]
  email = eugene.kostroma@gmail.com
  name = Yauheni Kastrama
  useConfigOnly = true

[column]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[init]
  defaultBranch = main

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
  tool = nvimdiff
[difftool]
  prompt = false
[difftool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\"

[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[fetch]
  prune = true
  pruneTags = true
[pull]
  rebase = true

[rerere]
  enabled = true
  autoupdate = true
[merge]
  conflictstyle = zdiff3
  tool = nvimdiff
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$MERGED\" \"$BASE\" \"$REMOTE\" -c \"wincmd w\" -c \"wincmd J\"

[core]
  fsmonitor = true
  untrackedCache = true
  excludesfile = ~/.config/git/.gitignore

[help]
  autocorrect = prompt
[commit]
  verbose = true
[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[safe]
  directory = *
[interactive]
  diffFilter = delta --color-only
[delta]
  true-color = always
  line-numbers = true
  navigate = true
  light = false
  file-style = "bold yellow ul"
  file-decoration-style = "none"
  hunk-header-style = "file line-number syntax"
  hunk-header-decoration-style = "blue box"
  minus-style = "syntax auto"
  plus-style = "syntax auto"
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  st = status -sb
[credential "helperselector"]
	selected = manager
[credential]
	helper = store
