github-copilot/
tmux/plugins/
.gsd-keyboard.settings-ported
Outline Manager/
Outline/
autostart/
dconf/
evolution/
go/
google-chrome/
gtk-3.0/
mimeapps.list
monitors.xml
monitors.xml~
pulse/
systemd/
turborepo/
user-dirs.dirs
user-dirs.locale
Microsoft/Microsoft Teams
containers
goa-1.0
simple-update-notifier
teams
background
dleyna-renderer-service.conf
JetBrains/Rider2024.3
gtk-4.0
geary/goa_account_1743071670_0
gnome-boxes/sources
gnome-builder/syntax
libvirt/storage
dleyna-server-service.conf
qBittorrent
totem
chromium
Cursor
pnpm
libreoffice/4/user
smplayer
teams-for-linux
QtProject.conf
GIMP/3.0
flameshot
ksnip
obsidian
fcitx/dbus
ibus/bus
pavucontrol.ini
Electron
obs-studio
JetBrains/Rider2025.1
LOOP
google/Endpoint Verification
yandex-cloud
.env.local
discord
nushell/history.txt
xfce4/xfconf/xfce-perchannel-xml
Thunar
nushell/env.nu
Mousepad
configstore/update-notifier-@google
fvm
tool_state
btop
nwg-look
xsettingsd
# Sensitive environment variables
zsh/.zsh.env
gh/hosts.yml
zsh/.zcompdump
.dart-cli-completion
Throne
